@import "variables_&_mixins";

.feature__item {
  @include desktop {
    max-width: 25%;
    margin-bottom: 80px;
    margin-right: 80px;
  }
}

.feature__item_hidden {
  text-align: center;
  @include desktop {
    display: none;
  }
}
.feature__title {
    margin: 10px;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
  }
  
  .feature__img {
    padding: 20px;
  }
  .feature__content {
    margin: 0;
    padding: 15px 0;
  }
  
  