@import "variables_&_mixins";


.feature__title {
    margin: 10px;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
  }
  
  .feature__img {
    padding: 20px;
  }
  .feature__content {
    margin: 0;
    padding: 15px 0;
  }
  