@import "variables_&_mixins";

.header {
  min-height: 400px;
  background: url(img/Bitmap.jpg) no-repeat;
  background-size: auto 100%;
  background-position: top right;
}

.header-wrapper {
  margin: 25px 30px;
}
.menu-container {
@include flexrow(space-between);
}

.promo {
  display: none;
}

.promo__text {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  color: $white;
}
