@import "variables_&_mixins";
<<<<<<< HEAD
=======

>>>>>>> c15266a... mobile version completed

.header {
  min-height: 400px;
  background: url(img/Bitmap.jpg) no-repeat;
  background-size: auto 70%;
  background-position: top right;
}

.menu-container {
  @include desktop {
    @include flexrow(space-between);
  }
}



.promo__text {
  display: none;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  color: $white;
}
