@import "variables_&_mixins";

.logo {
  box-sizing: border-box;
}

.logo_left {
  display: none;
  @include desktop {
    display: block;
    margin-right: auto;
  }
}

.logo_bottom {
  display: block;
  @include desktop {
    display: none;
  }
}

.logo__text {
  color: $white;
  font-weight: bold;
  vertical-align: 100%;
}

.logo__text_black {
  color: $black;
}
