@import "variables_&_mixins";

.request-container {
  box-sizing: border-box;
  margin-top: -130px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 8px 32px 0px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 100%;
  @include desktop {
    margin-top: -270px;
  }
}

.features {
  margin: 30px 0;
}

.button_hidden {
  line-height: 48px;
  text-decoration: none;
}

.promo {
  display: none;
  @include desktop {
    display: block;
    padding-top: 160px;
    padding-bottom: 330px;
    max-width: 60%;
  }
}

.promo__text {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  color: $white;
  font-size: 68px;
  line-height: 80px;
}
