@import "variables_&_mixins";


.menu__link_location::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 20px;
  height: 20px;
  background: url(img/pin.png) no-repeat;
  background-size: cover;
}

.menu__link_location::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 10px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__link_call::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 20px;
  height: 20px;
  background: url(img/call.png) no-repeat;
  background-size: cover;
}

.menu__item {
  position: relative;
  margin: 8px 0;
}

.menu__link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
}

.menu__link_black {
  color: $black;
  font-weight: normal;
}
