@import "variables_&_mixins";


.button {
  display: block;
  background-color: $green;
  border-radius: 4px;
  color: $white;
  border: none;
  width: 100%;
}
.request__title{
  box-sizing: border-box;
  margin: 10px;
  font-weight: normal;
}

.request-form {
  box-sizing: border-box;
  margin-top: 36px;
}
.request-form__field {
  position: relative;
  height: 56px;
  text-align: center;
  margin-top: 8px;
}

.request-form__input {
  border: none;
  box-shadow: inset 0px -1px 0px 0px rgb(227, 228, 230);
  width: 90%;
}
.request-form__label {
  color: $gray;
  position: absolute;
  top: -12px;
  left: 5%;
}

.request__step {
  display: none;
}


.request-form__submit {
  margin-top: 128px;
}
