@import "variables_&_mixins";


body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: $black;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 320px;
  margin: 60px auto;
}

@import "_header";
@import "_menu__item";
@import "_request-form";
@import "_main";
@import "_logo";
@import "_feature__item";
@import "_footer";
