body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #2e2e33;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 320px;
  margin: 60px auto;
<<<<<<< HEAD
}

.title {
  font-size: 22px;
  line-height: 28px;
=======
>>>>>>> c15266a... mobile version completed
}

.header {
  min-height: 360px;
  background: url(img/Bitmap.jpg) no-repeat;
  background-size: auto 100%;
  background-position: top right;
}

.menu-container_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__text {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  color: #ffffff;
}

.logo-container {
  vertical-align: middle;
  padding: 15px;
  margin: 0 15px;
}

.menu__item {
  position: relative;
  padding: 15px;
  margin: 0 15px;
}

<<<<<<< HEAD
.menu__link {
=======
.request-container {
  margin-top: -130px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.button {
  display: block;
  background-color: #0ec645;
  border-radius: 4px;
>>>>>>> c15266a... mobile version completed
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
}

<<<<<<< HEAD
.header {
  min-height: 400px;
  background: url(img/Bitmap.jpg) no-repeat;
  background-size: auto 70%;
  background-position: top right;
}

@media (min-width: 460px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.promo__text {
  display: none;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  color: #ffffff;
}

.menu__item {
  display: inline-block;
=======
.feature__item_hidden {
  text-align: center;
}

.button_hidden {
  line-height: 48px;
  text-decoration: none;
}

.social,
.app {
  margin: 12px 0;
}

.footer__container {
  -webkit-box-shadow: inset 0px -1px 0px 0px #e3e4e6;
          box-shadow: inset 0px -1px 0px 0px #e3e4e6;
  padding: 12px 0;
  margin: 10px 0;
}

.social__icon,
.app__icon {
  height: 32px;
}

.social__title, .app__title, .copyright {
  color: #919399;
  font-size: 12px;
  line-height: 16px;
}

.terms {
  color: #2e2e33;
  font-size: 12px;
  line-height: 16px;
>>>>>>> c15266a... mobile version completed
}

.menu__link_location::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(img/pin.png) no-repeat;
  background-size: cover;
}

.menu__link_location::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__link_hidden::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(img/call.png) no-repeat;
  background-size: cover;
}

<<<<<<< HEAD
.button {
  display: block;
  background-color: #0ec645;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  width: 100%;
}

=======
.menu__item {
  position: relative;
  margin: 8px 0;
}

.menu__link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
}

.menu__link_black {
  color: #2e2e33;
  font-weight: normal;
}

.logo {
  padding: 15px;
}

.logo__text {
  color: #ffffff;
  font-weight: bold;
  vertical-align: 100%;
}

.logo__text_black {
  color: #2e2e33;
}

.request__title {
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  font-weight: normal;
}

.request__step {
  display: none;
}

>>>>>>> c15266a... mobile version completed
.request-form__field {
  position: relative;
  height: 56px;
  text-align: center;
}

.request-form__input {
  border: none;
  -webkit-box-shadow: inset 0px -1px 0px 0px #e3e4e6;
          box-shadow: inset 0px -1px 0px 0px #e3e4e6;
  width: 90%;
}

.request-form__label {
  color: #919399;
  position: absolute;
  top: -12px;
  left: 5%;
}

<<<<<<< HEAD
.footer__menu-link {
  color: #919399;
}

.footer__menu-link_black {
  color: #2e2e33;
}

.icon {
  width: 30px;
  height: 30px;
}

=======
>>>>>>> c15266a... mobile version completed
.feature__title {
  margin: 10px;
}

.feature__img {
<<<<<<< HEAD
  margin: 20px;
=======
  padding: 20px;
}

.feature__content {
  margin: 0;
  padding: 15px 0;
>>>>>>> c15266a... mobile version completed
}
/*# sourceMappingURL=style.css.map */